<div class="container-fluid px-4 py-2">

  <div class="row align-items-center mb-4">
    <div class="col-12 col-md-8">
      <h2 class="fw-bold text-primary-custom mb-1">¡Hola, Samuel!</h2>
      <p class="text-grey-custom mb-0 fs-6">¡Nos alegra tenerte de vuelta, vecino!</p>
    </div>
    
    <div class="col-12 col-md-4 text-md-end mt-2 mt-md-0">
      <span class="badge date-badge p-2 px-3 rounded-pill fw-bold">
        <i class="fa-regular fa-calendar-days me-2"></i> {{ fechaActual }}
      </span>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <app-banner-notice [config]="avisoAgua"></app-banner-notice>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="d-flex align-items-center mb-3">
        <h4 class="fw-bold text-primary-custom mb-0 me-2">Tus Incidentes Activos</h4>
        <span class="badge rounded-pill bg-light text-dark border px-2 py-1 fs-6 fw-medium shadow-sm">
          {{ incidentesActivos().length }} activos
        </span>
      </div>

      <div class="bg-white rounded-4 shadow-sm border p-3">
        <app-table-reporte-crud 
          [data]="incidentesActivos()" 
          [columnas]="columnasConfig"
          [mostrarAcciones]="false">
         </app-table-reporte-crud> 
      </div>
    </div>
  </div>

</div>



