

.custom-input {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  padding: 12px;
}

.custom-input:focus {
  background-color: var(--white-color);
  border-color: var(--secondary-color);
  box-shadow: none;
}


.btn-outline-custom {
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
}

.btn-check:checked + .btn-outline-custom {
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--white-color) !important;
  font-weight: 600;
}

.btn-dashed {
  background-color: var(--white-color);
  border: 1.5px dashed var(--border-color);
  border-radius: 10px;
  transition: all 0.2s;
}

.btn-dashed:hover {
  background-color: var(--border-color);
  border-color: var(--grey-color);
}

.btn-send {
  background-color: var(--primary-color);
  border: none;
}

.btn-send:hover {
  background-color: var(--secondary-color);
}

.modal.show {
  opacity: 1;
}