*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color: #0F0F0F;
    --secondary-color: #ad8c3e;
    --white-color: #FFFFFF;
    --grey-color: #6c757d;
    --border-color: #dee2e6;

}